@model Client.Models.CourseViewModel.CourseViewModel

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-action="Create">Add new course</a>
</p>
<div class="row">
    <div class="col-lg-8">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Classroom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].CreationTime)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Courses)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classroom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationTime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <p class="alert-info">All courses registered in the database are shown here. You can also create new courses as well as remove courses. To see which student goes which course, go to Students in Course.</p>
    </div>
</div>